body,html{
    height:100%;
}

label{
  margin-bottom: 1rem;
}

input{
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
  border-radius: 10px;
}

.logo{
  width: 215px;
  margin-bottom: 1rem;
}

.logoLogin{
  width: 215px;
  margin-bottom: 4rem;
  margin-top: -5rem;
}

.logoJudge{
  width: 215px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.submitBtn{
  margin-top: 2rem;
  background: linear-gradient(98.26deg, #55A9DD 0%, #F39BBD 100%);
  border-radius: 10px;
  width: 100px;
  color: #000000;
}

.submitBtnLarge{
  margin-top: 2rem;
  background: linear-gradient(98.26deg, #55A9DD 0%, #F39BBD 100%);
  border-radius: 10px;
  width: 200px;
  color: #000000;
}

.logoutBtnContainer{
  position: absolute;
  right: .75rem;
  top: 0rem;
}

.logoutBtn{
  margin-top: 2rem;
  background: linear-gradient(98.26deg, #55A9DD 0%, #F39BBD 100%);
  border-radius: 10px;
  width: 100px;
  color: #000000;
}

.submitBtn:hover, 
.submitBtnLarge:hover,
.logoutBtn:hover{
  background: linear-gradient(98.26deg, #E91F6F 0%, #5056A1 100%);
  color: #FFFFFF;
}

.form-group, .form-control{
  margin-bottom: 1rem;
}

.lstTeam{
  background: #000000;
  box-shadow: 0px 0px 20px #000000;
  border-radius: 10px;
  margin-bottom: 1rem;
  height: 55px;
}

.grade{
  color: #6F7DFF;
  /* float: right; */
  cursor: pointer;
  text-decoration: none;
  margin-top: .4rem;
  margin-right: 1.5rem;
  background-color: #000;
  border: 0;
}

.link{
  margin-left: 1rem;
  text-decoration: none;
  /* float: right; */
}

.link-hidden{
  margin-left: 1rem;
  text-decoration: none;
  visibility: hidden;
}

.dark-bg{
  background-color: #151516;
}

.criteria{
  margin-bottom: 1rem;
  margin-top: 2rem;
}

/* .grade{
  margin-left: 4rem;
  margin-right: 4rem;
} */
