<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Verify account | Shecodes Hackathon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: #212529;
            padding-top: 5rem;
        }
        .verification-template {
            padding: 3rem 1.5rem;
            text-align: center;
        }
        .logo {
            width: 250px;
            margin-bottom: 1rem;
        }
    </style>
</head>
<body>
    <main role="main" class="container">
        <div class="d-flex justify-content-center">
            <img class="logo" src="{{ url_for('static', filename='images/svglogoWithoutBg.svg') }}" alt="SheCodes Logo">
        </div>
        <div class="verification-template">
            <h1 class="text-white">Xác nhận tài khoản thành công!</h1>
            <p class="lead text-white">Bạn có thể thoát khỏi trang này hoặc nhấn vào <a href="{{ url_for('login') }}">đây</a> để đăng nhập.</p>
        </div>
    </main>
</body>
</html>