{% extends 'admin/master.html' %}

{% block head %}
    {{ super() }}
    <script src="https://kit.fontawesome.com/b8c5196452.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin-home.css') }}">
{% endblock %}

{% block body %}
<div class="container">
  <h1 class="title">Kết quả vòng 2: </h1>
  <ul>
    {% for project in projects %}
      <li class="list-item">
        <div class="flex">
          {% if loop.index == 1 %}
            <div>
              <h4>{{ project.name }} {% if project.total %} ({{ project.total }} điểm) {% endif %} <i class="fas fa-award" style="color: gold;"></i> </h4>
            </div>
          {% elif loop.index == 2 %}
            <div>
              <h4>{{ project.name }} {% if project.total %} ({{ project.total }} điểm) {% endif %} <i class="fas fa-award" style="color: silver;"></i> </h4>
            </div>
          {% elif loop.index == 3 %}
            <div>
              <h4>{{ project.name }} {% if project.total %} ({{ project.total }} điểm) {% endif %} <i class="fas fa-award" style="color: brown;"></i> </h4>
            </div>
          {% else %}
            <div>
              <h4>{{ project.name }} {% if project.total %} ({{ project.total }} điểm) {% endif %} </h4>
            </div>
          {% endif %}
          <div class="item-right">
            <a class="link" href="{{ project.slide }}">
              <i class="far fa-2x fa-fw fa-file-alt"></i>
            </a>
            <a class="link" href="{{ project.github }}">
              <i class="fab fa-2x fa-fw fa-github"></i>
            </a>
            {% if project.youtube %}
              <a class="link" href="{{ project.youtube }}">
                <i class="fab fa-2x fa-fw fa-youtube"></i>
              </a>
            {% else %}
              <a class="link link-hidden" href="{{ project.youtube }}">
                <i class="fab fa-2x fa-fw fa-youtube"></i>
              </a>
            {% endif %}
            {% if project.others %}
              <a class="text-white link" href="{{ project.others }}">
                <i class="fas fa-2x fa-fw fa-file-word"></i>
              </a>
            {% else %}
              <a class="text-white link-hidden" href="{{ project.others }}">
                <i class="fas fa-2x fa-fw fa-file-word"></i>
              </a>
            {% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}