{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="d-flex justify-content-center">
    <img class="logoJudge" src="{{ url_for('static', filename='images/svglogoWithoutBg.svg') }}" alt="SheCodes Logo">
  </div>
  <h2 class="text-white text-center mb-3">Đội: {{ project.team.name }}</h2>
  <h2 class="text-white text-center mb-3">Dự án: {{ project.name }}</h2>
  <form class="grade bg-dark" action="{{ url_for('grading_round_2', project_name=project.name) }}" method="POST">
    {{ form.hidden_tag() }}

    <h3 class="criteria text-white">Tính sáng tạo (15đ)</h3>
    <div id="create-fields">
      {% for creative_button in form.creative %}
        <div class="form-check">
          {{ creative_button(class='form-check-input') }}
          {{ creative_button.label(class='form-check-label text-white') }}
        </div>
      {% endfor %}
    </div>

    <h3 class="criteria text-white">Mức độ accessible (Tính hữu dụng & thực tế) (30đ)</h3>
    <div id="accessible-fields">
      {% for accessible_button in form.accessible %}
        <div class="form-check">
          {{ accessible_button(class='form-check-input') }}
          {{ accessible_button.label(class='form-check-label text-white') }}
        </div>
      {% endfor %}
    </div>

    <h3 class="criteria text-white">Tính công nghệ & thiết kế (40đ) </h3>
    <div id="tech-fields">
      <div class="tech-field">
        {{ form.techOption1.label(class='text-white') }}
        {{ form.techOption1(class='form-control bg-dark text-white', value='0') }}
      </div>
      <div class="tech-field">
        {{ form.techOption2.label(class='text-white') }}
        {{ form.techOption2(class='form-control bg-dark text-white', value='0') }}
      </div>
      <div class="tech-field">
        {{ form.techOption3.label(class='text-white') }}
        {{ form.techOption3(class='form-control bg-dark text-white', value='0') }}
      </div>
    </div>

    <h3 class="criteria text-white">Demo (15đ)</h3>
    <div id="demo-fields">
      {% for demo_button in form.demo %}
        <div class="form-check">
          {{ demo_button(class='form-check-input') }}
          {{ demo_button.label(class='form-check-label text-white') }}
        </div>
      {% endfor %}
    </div>
    
    <h3 class="criteria text-white">Điểm pitching (Điểm cộng, tối đa 10đ)</h3>
    <div id="pitching-field">
      {{ form.pitching(class='form-control bg-dark text-white', value='0') }}
    </div>

    <h3 class="criteria text-white">Tổng điểm: <span id="totalGrade"></span> điểm</h3>

    <div class="d-flex justify-content-center">
      {{ form.submit(class='btn submitBtnLarge mt-5 mb-5') }}
    </div>

  </form>
</div>
{% endblock %}

{% block js_scripts %}
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}